body {
  height: calc(100vh - 30px);
  background: linear-gradient(0deg, #DFDFDF 85%, #009788 15%);
  font-family: 'Lato', sans-serif;
}

#root {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  height: 97%;
  background-color: #ffff;
}

/* Aside */
aside {
  float: left;
  width: 40%;
  height: 100%;
}

.right {
  float: left;
  width: 60%;
  height: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #EAEAEA;
  border-right: 1px solid lightgrey;
  padding: 10px 10px;
}

/* Fisso le immagini */
img {
  width: 50px;
  border-radius: 50%;
}

#user-controller-right {
  width: 100%;
  text-align: right;
}

#user-controller-right > i {
  font-size: 18px;
  padding: 0 10px;
  color: #b1b1b1;
  cursor: pointer;
}

#user-controller-right:last-child {
  margin-right: 10px;
}

/* Notifiche */
.notifications {
  padding: 15px;
  width: 100%;
  height: 80px;
  background-color: #8EDAFC;
}

.notifications span > i {
  font-size: 22px;
  cursor: pointer;
  color: #8edafc;
}

.notifications span {
  background-color: #ffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifications-p {
  margin-left: 10px;
}

.notifications-p p:last-child {
  color: #4F7485;
  font-size: 13px;
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 0;
}


/* Sezione cerca */

.search-box {
  width: 100%;
  height: 50px;
  background-color: #FAFAFA;
  padding: 5px;
}

.search-box input {
  border: 1px solid #F5F5F5;
  border-radius: 0;
  font-size: 15px;
  outline: 0;
}

.search-box input:focus {
  outline: none;
  box-shadow:none !important;
  border: 1px solid #ccc !important;
}

.search-box input::placeholder {
  color: lightgrey;
}

.input-group span {
  border: 0;
  border-radius: 0;
  background-color: #ffff;
  border: 1px solid #F5F5F5;
  padding: .375rem 1.75rem;
}

.input-group span i {
  color: #b6b9bb;
}

/* Contatti */

.contact {
  width: 100%;
  height: calc(100% - 200px);
  background-color: #ffff;
  overflow-y: scroll;
}

.contact ul li > img {
  width: 55px;
}

ul {
  margin: 0;
  padding: 0;
}

.contact ul li {
  display: flex;
  list-style: none;
  padding: 15px 15px;
}

.contact ul li:hover {
  opacity: 0.9;
  background-color: #eeee;
  cursor: pointer;
}

.active {
  background-color: red;
}

.contact ul li > span {
  padding-top: 5px;
  padding-left: 12px;
  font-size: 16.5px;
}

#access {
  width: 100%;
  font-size: 12.5px;
  display: flex;
  justify-content: end;
  color: grey;
  padding-top: 5px;
}

/* Lato destro */

.header-chat {
  width: 100%;
  height: 70px;
  background-color: #EAEAEA;
  padding: 10px;
  display: flex;
  align-items: center;
}

.header-controller-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.receiver-user {
  width: 50%;
  display: flex;
  align-items: center;
}

.receiver-user-info {
  padding-left: 10px;
}

#lastaccess {
  font-size: 13px;
}

/* Header controller right */

.header-controller-right > span {
  padding: 0 8px;
  font-size: 18px;
  color: #b1b1b1;
  cursor: pointer;
}

.chat-body {
  width: 100%;
  height: calc(100% - 140px);
  background-image: url('../img/mine.jpg');
  overflow-y: scroll;
}

.chat-body ul {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.chat-body ul li {
  width: 100%;
  list-style: none;
  padding-top: 20px;
  font-size: 15px;
}

.chat-body ul li .sent {
  text-align: right;
}

.chat-body ul li .received {
  text-align: left;
}

.sent span:first-child {
  padding: 10px;
  background-color: #dcf8c6;
  border-radius: 15px;
}

.received span:first-child {
  padding: 10px;
  background-color: #ffff;
  border-radius: 15px;
}

.dateMessage {
  padding-top: 10px;
  font-size: 11px;
  color: grey;
}

/* Controlli chat smile ecc.. */
.chat-controller {
  background-color: #f3eeea;
  width: 100%;
  height: 70px;
  border-left: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}

.chat-controller span > i {
  cursor: pointer;
  font-size: 22px;
  color: #6B7376;
}

.inputbox {
  width: 85%;
}

.inputbox input {
  border-radius: 15px;
  padding: 10px;
  outline: none;
  border: none;
  width: 100%;
}
